@font-face {
    font-family: 'montserratthin';
    src: url('fonts/montserrat-thin-webfont.woff2') format('woff2'),
         url('fonts/montserrat-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    box-sizing: border-box;
}


:root {
    --padding: clamp(1rem, 10%, 7rem);
    --header-font-size: clamp(2rem, 7vw, 3rem);
    --logo-blue: #0192c9;
    --background-blue: #0175a1;
    --logo-orange: #f75d33;
    --text-blue: rgb(0, 58, 80);
    color: #014965
}


body {
    margin: 0;
    background-color: #fffdfc;
    overflow-x: auto;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "DM Serif Text",serif;
}

p {
    font-size: clamp(1rem, 4vw, 18px);
    line-height: clamp(1.25rem, 4vw, 27px);
}

a {
    color: #0175a1;
    font-weight: 600;
}

a:hover {
    color: #0192c9;
}

sup {
    font-size: 1rem;
    vertical-align: top;
    position: relative; 
    top: -0.25em;
}


/*-----Content Container-----*/
.container {
    margin: 0 auto;
    padding: 0 .85rem;
    width: clamp(20rem, 100%, 50rem);
}


.container h1 {
    color: #003a50;
    font-size: clamp(1.75rem, 7.5vw, 3rem);
}

.container img {
    height: auto;
    width: clamp(17rem, 100%, 50rem);
}

.article-credits {
    display: flex;
    justify-content: space-between;
    line-height: clamp(1.15rem, 3vw, 1.75rem);
    font-size: clamp(.8rem, 3vw , 1rem);
    margin: clamp(.5rem, 2vw ,1rem) 0 clamp(1.5rem, 5.5vw ,3rem);
}

.article-credits .published {
    font-style: italic;
    color: #444;
}

.in-this-article {
    width: 100%;
    border-left: 6px solid #ec8951;
    box-shadow: 0 1px 3px hsla(0,0%,73.3%,.8);
    background-color: #e6f4fa;
    color: #0175a1;
    line-height: 1.75rem;
    padding: 1rem .5rem;
    font-family: 'Montserrat', sans-serif;
    margin: 3rem 0 clamp(1rem, 5.5vw, 4rem);;
}

.in-this-article h4 {
    font-size: 2rem;
    font-weight: 700;
    font-family: "DM Serif Text",serif;
    margin: 0 0 1.75rem 1rem;
}

.in-this-article ol {
    list-style: none; 
    line-height: 1.75rem;
    /* counter-reset: li; */
    margin: 0 0 0 1rem;
    padding: 0;
}

.in-this-article li {
    counter-increment: li;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: .75rem;
    text-transform: capitalize;
}

.in-this-article li::before {
    content: counter(li) '.';
    color: black;
    margin-right: .25rem;
    font-family: 'montserratthin', sans-serif;
}

.in-this-article a {
    text-decoration: none;
}

.article-content {
    margin-bottom: 4rem;
}

.article-content h2 {
    font-size: clamp(1.5rem, 5.5vw, 2rem);
    line-height: clamp(1.65rem, 6.5vw, 2.5rem);
    margin-bottom: 1.5rem;
    color: #003a50;
}


.text-section {
    position: relative;
    margin-top: clamp(2.5rem, 7vw, 4rem);
}

input[type='checkbox'] {
    appearance: none;
    width: 100%;
    cursor: pointer;
    background-color: #0175a1;
    background-image: url('photos/newRemove.svg');
    background-repeat: no-repeat;
    background-size: 1.1rem;
    background-position: right 3% center;
    color: #fff;
    font-family: "DM Serif Text",serif;
    font-size: clamp(1.5rem, 5vw, 1.75rem);
    font-weight: 600;
    margin: clamp(1rem, 4vw, 2.5rem) 0 clamp(.75rem, 4%, 1.75rem) 0;
    padding: .75rem 2.5rem .75rem clamp(.25rem, 1vw, 1rem);
    box-shadow: 0 1px 3px hsla(0,0%,73.3%,.8);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}

#ghostwriting-title::after {
    content: 'What is academic ghostwriting?';
}

#ghostdetect-title::after {
    content: 'How does GhostDetect® work?';
}

#tool-title::after {
    content: 'GhostDetect® in action';
}

#faces-title::after {
    content: 'Flury-Riedwyl Faces';
}

.output-card input[type='checkbox'] {
    text-decoration: underline;
    color: #fff;
    background-color: #014965;
    font-size: clamp(1.25rem, 4vw, 1.5rem);
    margin-bottom: clamp(.25rem, 3%, 1.5rem);
    padding: .8rem 2rem .8rem 1rem;
}

#fr-faces::after {
    content: 'Flury-Riedwyl Faces';
}

#stats::after {
    content: 'Statistics';
}

#speech-parts::after {
    content: 'Parts of Speech';
}

#func-words::after {
    content: 'Function Words';
}

#syllables-in-word::after {
    content: 'Syllables in Word';
}

#sent-length::after {
    content: 'Sentence Lengths';
}

#suspect-words::after {
    content: 'Suspect Words and Phrases';
}

input[type='checkbox']:checked {
    background-image: url('photos/newAdd.svg');
}

input[type='checkbox']:hover {
    background-color: #014965;
}

input[type='checkbox']:checked ~ .collapsible {
    display: none;
}

.section-titles:focus {
    background-color: orange;
}

.article-content p span {
    font-weight: 700;
    font-style: italic;
    color: #003a50;
}


.input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: clamp(2.5rem, 8vw, 4rem);
}

.input .input-item {
    display: inline-block;
    width: 20rem;
    margin: 0 auto;
}

.input-item h3 {
    font-size: 1.75rem;
    margin-top: 0;
}

textarea {
    font-family: inherit;
    width: clamp(18.5rem, 92vw ,20rem);
    height: 12rem;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    transition: background-color 0.2s ease 0s;
    margin-bottom: 1rem;
    padding: .25rem;
}
  
textarea:focus {
      background: none repeat scroll 0 0 #FFFFFF;
      outline-width: 0;
}


.input-item div {
    text-align: center;
}

.input-item button {
    background-color: #ff8514;
    border: none;
    color: #fff;
    transition: background-color ease .5s;
    border-radius: 3px;
    padding: .5rem 1rem;
    cursor: pointer;
}

.input-item button:hover {
    background-color: #d06122;
}

.output-card {
    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
    margin: 1.5rem 0 1.75rem 0;
    padding-bottom: clamp(.5rem, 2vw, 1.5rem);
}

.output-card p {
    margin: 0 1rem;
    padding: clamp(.5rem, 5vw, 1rem), 0;
    font-size: clamp(.85rem, 3vw, 18px);
}

.output-card span {
    font-size: clamp(.85rem, 3vw, 18px);
}

.face-output {
    margin: 0 2.5rem;

}

.face-output fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    padding-top: 1rem;
}


.face-output .faces {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
    align-items: center;
}

.face-images {
    position: relative;
    width: clamp(16.75rem, 30vw, 18.75rem);
    height: clamp(22.33rem, 34vw, 25rem);
    display: flex;
}

.face-output canvas, .face-output img {
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0 auto;
}

.face-output .frown {
    visibility: hidden;
    position: absolute;
    top: 65%;
    left: 30%;
    width: 37.5%;
    height: auto;
    z-index: 2;
}

.face-output .canvas-div div {
    font-weight: 700;
}

table {
    width: 95%;
    margin: 1rem auto;
    border-bottom: 2px solid rgb(236, 137, 81);
}


#thead th {
    padding: .75rem clamp(.25rem, 1%, 1rem);
    text-align: left;
    background-color:rgb(236, 137, 81);
    color: white;
    text-decoration: underline;
}

#thead th:first-child {
    padding-left: .25rem;
}


tbody {
    padding-right: 6rem;
}

tbody:not(p) {
    font-size: clamp(.8rem, 3vw , 1rem);
}

tbody tr {
    height: fit-content;
}

tr:nth-child(even) {
    background-color: #EEEEEE;
}

tr:nth-child(odd) {
    background-color: #fff;
}

tbody th {
    padding: .5rem 0;
    color: #0175a1;
}

.output-card th p {
    padding: 0;
    height: 15px;
    color: black;
    line-height: normal;
    margin: 0 clamp(.25rem, 4%, 1rem);
}

.output-card table th, td {
    padding: .5rem .25rem .75rem;
}

tbody td {
    text-align: left;
    padding: .75rem clamp(.25rem, 1%, 1rem);
}

colgroup {
    width: 42rem;
}

.graph-div, .graph-svg {
    height: auto;
    width: clamp(18rem, 100%, 39rem);
}

.graph-svg {
    margin-bottom: .5rem;
}

.graph-div {
    margin: 0 auto clamp(.5rem, 3vw, 1.75rem);;

}

.graph-svg {
    height: auto;
    width: 100%;
}

.graph-key {
    width: 15rem;
    margin: 0 auto;
}

.graph-key ul {
    width: 15rem;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.graph-key svg {
    position: relative;
    top: .15rem;
}

.suspect-ul {
    margin-top: 1.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding: 0;
}

.suspect-ul li {
    text-indent: -1rem;
    font-size: clamp(.85rem, 3vw ,18px);
    padding: 0 clamp(2rem, 10%, 4rem);
}

.suspect-ul li b {
    color: #003a50;
}


.show-data {
    display: none;
}


/*-----Related articles and advertisement-----*/
aside {
    width: clamp(18rem, 93%, 75rem);
    margin: 0 auto clamp(3rem, 10vw, 4rem);
}

aside .top-ad-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside h4 {
    margin-bottom: 13.5px;
    color: #003a50;
    font-family: "DM Serif Text",serif;
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
}

aside h4 + a {
    color: #0175a1;
    font-weight: 600;
    margin-bottom: 13.5px;
    text-decoration: none;
}

aside .bottom-ad-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

aside .bottom-ad-div .ad-form {
    border: 1px solid #9bc0cf;
    border-bottom: none;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: clamp(20rem, 100%, 60rem);
}

aside .bottom-ad-div .ad-form div {
    width: max(20rem, 100%);
    padding: .75rem 1rem 0;
    background-color: #fff;
    border: 1px solid #9bc0cf;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex: 1 1 30%;
}

aside label {
    position: absolute;
    font-size: 13px;
    color: rgb(0, 58, 80);
    font-weight: 800;
    font-family: 'Montserrat';
    font-stretch: 100%;
}

aside select {
    appearance: none;
    border: none;
    background: url("photos/Screenshot\ 2022-09-08\ at\ 20.47.24.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1.5rem auto,100%;
    font-size: 1rem;
    padding: 1.5rem 0 1rem;
    font-family: 'Montserrat';
    font-weight: 300;
    color: rgb(0, 58, 80);
    cursor: pointer; 
    min-width: 16.3rem;
}

aside select:focus {
    outline: none;
}

aside button {
    background-color: #f75d33;
    border: none;
    color: #fff;
    transition: background-color ease .5s;
    border-radius: 3px;
    padding: .5rem 1.5rem;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}

aside button:hover {
    background-color: #d06122;
}

.related-articles {
    margin-bottom: 2.5rem;
}

.related-articles h2 {
    color: #003a50;
    font-family: "DM Serif Text",serif;
    font-size: 1.9rem;
    padding: 0 .5rem;
}

.related-articles ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    row-gap: 1.5rem;
    column-gap: 1rem;
    justify-items: center;
    align-items: center;
    padding: 0;
}

.related-articles li {
    cursor: pointer;
}

.related-articles li a {
    font-size: 13.5px;
    text-decoration:none;
    color: #014965;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.related-articles img {
    width: 12.5rem;
    height: auto;
}

.related-articles li a div {
    width: 12.5rem;
}



/* -----Header and Footer----- */


header {
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;
    border-bottom: 2px solid var(--logo-blue);
}

header a {
    margin: 1rem .5rem 1rem clamp(.5rem, 1vw, 2rem);
}

header img {
    height: 3.5rem;
    width: auto;
}

.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.nav-list {
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ul.nav-list li button, ul.nav-list button span svg {
    fill: var(--logo-blue);
    color: var(--logo-blue);
}

ul.nav-list button span svg {
    display: none;
}

ul.nav-list li:hover svg, ul.nav-list li button:focus svg {
    display: inline;
}

ul.nav-list li {
    padding: 0 .25rem;
    height: 100%;
}

ul.nav-list li button {
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    gap: .25rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ul.nav-list li button:focus {
    background-color: var(--background-blue);
    color: white;
}

ul.nav-list li button:focus .school-rankings-list {
    display: block;
}

ul.nav-list li button:focus svg {
    transform: rotate(.5turn);
}

ul.nav-list button span {
    position: absolute;
    bottom: 5px;
}

ul.nav-list button span svg {
    height: 1rem;
    width: 1rem;
}  

ul.nav-list li:not(.link-list-li):hover{
    background-color: var(--background-blue);
}

ul.nav-list li:not(.link-list-li):hover button {
    color: white;
    cursor: pointer;
}

.sign-and-search {
    margin-left: clamp(.25rem, 1vw, 1rem);
    display: flex;
}

.hamburger-menu {
    display: none;
    min-height: 1.5rem;
    max-height: 1.5rem;
    min-width: 1.5rem;
    max-width: 1.5rem;
    color: var(--logo-blue);
    fill: var(--logo-blue);
    align-self: center;
}

.sign-in {
    background-color: transparent; 
    border: none;
    color: var(--logo-blue);
    fill: var(--logo-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: none;
    position: absolute;
    width: 16rem;
    top: 5.75rem;
    height: 100vh;
    right: 0;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    background-color: white;
    z-index: 3;
    border-left: 2px solid var(--logo-orange);
    transform: translateX(15rem);
    transition: all ease 1s;
}

.login-form a {
    margin: 0;
    text-decoration: none;
    color: var(--text-blue);
    background-color: var(--logo-orange);
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form a:first-child {
    color: var(--background-blue);
}

.sign-in:hover, .search:hover {
    /* transform: scale(1.1); */
    cursor: pointer;
}

.open-search {
    display: none;
    transform: scale(.5);
    transition: all ease .5s;
    position: absolute;
    top: 5.75rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 4rem;
    z-index: 3;
    background-color: black;
    justify-content: center;
    align-items: center;
    
}

.open-search input {
    width: 30%;
    height: 2.5rem;
    margin-right: .5rem;
    position: relative;
}

.open-search label {
    position: relative;
    right: 29%;
    width: .25rem;
}

.open-search svg {
    height: 1.25rem;
    width: 1.25rem;
}

.search {
    background-color: transparent; 
    border: none;
    color: var(--logo-blue);
    fill: var(--logo-blue);
    width: 5rem;
    
}

.search svg:not(.open-search svg) {
    height: 1.75rem;
    width: auto;
}

.school-rankings-list {
    display: none;
    position: fixed;
    
    left: 0;
    right: 0;
    top: 5rem;
    z-index: 2;
    background-color: var(--background-blue);
    width:100%;
    height: fit-content;
    border-bottom: 2px solid var(--logo-orange);
}

.school-rankings-list .top-bar {
    display: flex;
    color: white;
    justify-content: space-between;
    text-decoration: underline;
    font-style: italic;
    padding: 0 5rem;
}

.school-rankings-list .link-list {
    background-color: white;
    color: var(--text-blue);
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
}

.school-rankings-list .link-list ul {
    list-style: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.school-rankings-list .link-list .link-list-ul .link-list-li {
    color: var(--logo-blue);
    text-align: left;
    line-height: 2rem;
    font-size: .9rem;
}

.school-rankings-list .link-list .link-list-ul .link-list-li:hover {
    color: var(--logo-orange);
    text-decoration: underline;
}

.hamburger-items {
    display: none;
    position: absolute;
    top: 5.75rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    
    flex-direction: column;
    z-index: 3;
    background-color: white;
    color: var(--background-blue);
    padding-left: 3rem;
}

footer {
    background-color: var(--text-blue);
    padding: 4rem var(--padding);
}

footer .top-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 2rem;
}

footer img {
    height: 8rem;
    width: auto;
}

footer ul {
    list-style: none;
    color: white;
    width: 10rem;
    padding: 0;
}

footer li {
    padding: .25rem;
    cursor: pointer;
}

.social-media {
    padding: 3rem 0;
    text-align: center;
}

footer svg {
    height: 2rem;
    width: auto;
    color: white;
    margin: 0 .25rem;
}

footer .copyright {
    color: white;
    text-align: center;
}

@media screen and (max-width: 1023px) {
    .navigation {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }
}

@media screen and (max-width: 585px) {
    
    header {
        padding-left: 0;
    }
    header svg {
        width: 1.5rem;
        height: 1.5rem
    }
    
}

